{% extends 'base.html.twig' %}

{% block body %}

<h1 class="mb-4">🔐 Connexion</h1>

<img src="/images/login.jpeg"
     class="img-fluid rounded mb-4"
     style="height:250px; object-fit:cover; width:100%;"
     alt="Connexion">

<div class="card shadow p-4 mb-4">

    {% if erreur %}
        <div class="alert alert-danger">
           {{ erreur }}
        </div>
    {% endif %}

    <form method="POST">

    <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" class="form-control" placeholder="Votre email" required>
    </div>

    <div class="mb-3">
        <label>Mot de passe</label>
        <input type="password" name="mot_de_passe"class="form-control" placeholder="Votre mot de passe" required>
    </div>

    <div class="mb-3">
    <a href="{{ path('app_forgot_password') }}">
        Mot de passe oublié ?
     </a>
    </div>

    <button type="submit" class="btn btn-success">
        Se connecter
    </button>

</form>

    <hr class="my-3">

  
            </div>
        </div>
    </div>

    <h5 class="text-center mb-3">
    Comptes de démonstration
    </h5>

<p class="text-center text-muted mb-4">
    Utilisez ces identifiants pour tester les différents espaces de l'application.
</p>

       <div class="row g-4 justify-content-center mt-2">

    <div class="col-md-6">
        <div class="card border-secondary shadow h-100 rounded-4">
            <div class="card-body text-center">
                <h5 class="card-title">👨‍🍳 Compte Employé</h5>

                <div class="bg-light rounded p-3 mb-3">

                    <strong>Email :</strong>
                    <span>employe@exemple.com</span>

                    <br><br>

                    <strong>Mot de passe :</strong>
                    <span>motdepasse</span>

                </div>

                <small class="text-muted">
                    Saisissez ces identifiants dans le formulaire ci-dessus.
                </small>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card border-warning shadow h-100 rounded-4">
            <div class="card-body text-center">
                <h5 class="card-title">⚙️ Compte Administrateur</h5>

                <div class="bg-light rounded p-3 mb-3">

                    <strong>Email :</strong>
                    <span>admin@exemple.com</span>

                    <br><br>

                    <strong>Mot de passe :</strong>
                    <span>motdepasse</span>

                </div>

                <small class="text-muted">
                    Saisissez ces identifiants dans le formulaire ci-dessus.
                </small>
            </div>
        </div>
    </div>

</div>
         </div>
        </div>
    </div>
</div>
</div>

{% endblock %}