{% extends 'base.html.twig' %}

{% block body %}

<h1>Menu Végétarien</h1>

<div class="card">
    <div class="card-body">
        <h2>Menu Végétarien</h2>

       <img src="/images/menu-vegetarien.jpg"
             class="img-fluid rounded mb-3"
             style="height:220px; object-fit:cover; width:100%;"
             alt="Menu Vegetarien">

        <p><strong>Description :</strong> Menu équilibré sans viande, idéal pour les repas végétariens.</p>

        <p>🎉 Thème : Santé</p>

        <p><strong>⚠️ Allergènes :</strong> Gluten, lait, fruits à coque</p>

        <p><strong>📋 Conditions :</strong></p>
<ul>
         <li>Commande minimum 15 personnes</li>
         <li>Réservation 72h à l'avance</li>
         <li>Conservation au frais recommandée</li>
</ul>

        <ul>
            <li>Entrée : Salade méditerranéenne</li>
            <li>Plat : Lasagnes aux légumes</li>
            <li>Dessert : Tarte aux fruits</li>
        </ul>

<h3 class="mt-4">📸 Galerie du menu</h3>

<div class="row g-3 mt-2">
    <div class="col-md-4">
        <img src="/images/salade_meditMV.jpg" class="img-fluid rounded shadow" alt="Salade méditerranéenne">
    </div>

    <div class="col-md-4">
        <img src="/images/lasagnelegumeMV.jpg" class="img-fluid rounded shadow" alt="Lasagnes aux légumes">
    </div>

    <div class="col-md-4">
        <img src="/images/tarte_fruitMV.jpg" class="img-fluid rounded shadow" alt="Tarte aux fruits">
    </div>
</div>

        <p><strong>Minimum :</strong> 15 personnes</p>
        <h4 class="text-success">Prix : 35,90 €</h4>

        <a href="/commande?menu=3" class="btn btn-success">
            Commander
        </a>

        <a href="/menus" class="btn btn-secondary"> 
            Retour aux menus
        </a>
    </div>
</div>

{% endblock %}