{% extends 'base.html.twig' %}

{% block body %}

<h1 class="mb-4">Menu Classique</h1>

<div class="card shadow">
    <div class="card-body">

        <h2>Menu Classique</h2>

        <img src="/images/menu-classique.jpg"
     class="img-fluid rounded mb-3"
     style="height:260px; object-fit:cover; width:100%;"
     alt="Menu Classique">

        <p>
            <strong>Description :</strong>
            Menu traditionnel français.
        </p>

        <p>🎉 Thème : Classique</p>

        <ul>
            <li>Entrée : Salade composée</li>
            <li>Plat : Poulet rôti et légumes</li>
            <li>Dessert : Tarte aux pommes</li>
        </ul>

        <p><strong>Minimum :</strong> 4 personnes</p>

        <h4 class="text-success">Prix : 80 €</h4>

        <a href="/commande" class="btn btn-success">
            Commander
        </a>

        <a href="/menus" class="btn btn-secondary">
            Retour aux menus
        </a>

    </div>
</div>

{% endblock %}